:root{
    --white: #ffffff;
    --black: #000000;
    --very-ligth-pink: #c7c7c7;
    --text-input-field:#f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md:  16px;
    --lg: 18px;

}
body{
    margin: 0;
    font-family: 'Quicksand',sans-serif;
}

.mobile-menu{
    padding: 24px;
   
}

.mobile-menu a{
    text-decoration: none; 
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
}
.mobile-menu ul  {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}
.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-ligth-pink);

}
.mobile-menu ul li{
   margin-bottom: 24px;
}

.mobile-menu .email{
    font-size: var(--sm);
    font-weight: 300 ;
}
.mobile-menu .sign-out{
    color: var(--hospital-green) ;
    font-size: var(--sm);
}

.mobile-menu ul:last-child{
    position: absolute;
    width: 300px;
    bottom: 12px;
}
