:root{
    --white: #ffffff;
    --black: #000000;
    --very-ligth-pink: #c7c7c7;
    --text-input-field:#f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md:  16px;
    --lg: 18px;

}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.product-detail{
    position: absolute;
    width: 360px;
    /* width: 100%; */
    box-sizing: border-box;
    padding: 24px;
    right: 0;
}


.product-detail-close:hover{
    cursor: pointer;
}
.product-detail > img:nth-child(2){
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.title-container{
    display: flex;
}
.title-container img{
    transform: rotate(180deg);
    margin-right: 14px;
}
title{
    font-size: var(--lg);
    font-weight: bold;
}
.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}
.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.close:hover{
    cursor: pointer;
    
}
.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
}
.shopping-card{
    display: grid;
    grid-template-columns: auto 1fr 
                auto auto;
    gap: 16px;
    margin-bottom: 24px;
    text-align: center;
} 
.shopping-card figure{
    margin: 0;
}

.shopping-card figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}
.shopping-card p:nth-child(2){
   color: var(--very-ligth-pink);

}
.shopping-card p:nth-child(3){
   font-size: var(--md);
   font-weight: bold;
    
 }
@media (max-width: 640px){
    .product-detail{
        width: 100%;
    }
}